html {
    color: rgb(255, 255, 255);
    font-family: Hevletica, sans-serif;
    background-color: rgb(33, 38, 43)
}

#htmlcheatsheet {
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    color: rgb(80, 104, 119);
    text-align: left;
    margin: -100px;
    font-size: 28px;
    font-weight: 600;
}

.tableimg {
    padding: -200px;
}

table {
    color: rgb(53, 61, 70);
    border-style: solid;
    border-width: medium;
    border-color: rgba(46, 139, 87, 0.75);
}
