html {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 38, 43)
}

#htmlcheatsheet {
    margin: auto;
    left: 200px;
}

h2 {
    color: rgba(151, 212, 253, 0.5);
    text-align: left;
    margin: -100px;
    font-size: 28px;
    font-weight: 600;
    font-family: Hevletica, sans-serif;
}

.tableimg {
    padding: -200px;
}

table {
    color: rgba(108, 142, 218, 0.5);
    border-style: solid;
    border-width: medium;
    border-color: rgba(46, 139, 87, 0.75);
}
