html {
    color: rgb(255, 255, 255);
    background-color:rgb(33, 38, 43)
}

#htmlcheatsheet {
    margin: auto;
}

h2 {
    text-align: left;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace
}

.tableimg {
    padding: -200px;
}

table {
    color: rgba(71, 90, 109, 0.5);
    border-style: solid;
    border-width: medium;
    border-color: rgba(46, 139, 87, 0.75);
}
